{% extends "auctions/layout.html" %}

{% block header-script %}

    {% if message %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                alert(`{{ message }}`);
            })
        </script>
    {% endif %} 

{% endblock %}


{% block body %}

<h2>{{ listing.title  }} {% if listing.category %} ({{ listing.category }}) {% endif %}</h2>
    


    <p>
        Current Bid: {{ listing.current_price }}
    </p>

    <ul class="nav">
        {% if listing.is_active %}
            {% if user.is_authenticated %}
                {% if listing.owner == user %}
                <!-- option to end the listing -->
                    <li class="nav-item">
                        <form action="{% url 'close-auction' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value={{ listing.id }}>
                            <input class="form-control" type="submit" value="Close Auction">
                        </form>

                {% endif %}

                <!-- Option to watch/unwantch the item -->
                <li class="nav-item">
                    <form action="{% url 'watchlist-action' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value={{ listing.id }}>
                        <input type="hidden" name="watchlist_action" value={{ watchlist_action }}>
                        {% if watchlist_action %}
                            <input class="form-control" type="submit" value="Watch">
                        {% else %}
                            <input class="form-control" type="submit" value="Unwatch">
                        {% endif %}
                    </form>
                </li>
            {% endif %}        

                <!-- Option to place a bid - allowed even if logged out, will redirect to login-->
                <li class="nav-item">
                    <form action="{% url 'bid' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ bid_form }}
                            <input type=hidden name="listing_id" value={{ listing.id }}>
                            <input class="form-control" type="submit" value="Place Bid">
                        </div>
                    </form>
                </li> 
            </ul>
            


    
    {% else %}
        <center>
            <h3>Auction Ended</h3>

            {% if listing.winner == user %}
                <strong style="color: rgb(44, 123, 44)">Congratulations, you've won!</strong>
            {% endif %}
        </center>
    {% endif %}

        Bid History:
        <ol reversed>
            {% for bid in bids %}
            <li>
                {{ bid.amount }} | {{ bid.time }} | {{ bid.user }}
            </li>
            {% endfor %}
            <li>
                {{ listing.starting_price }} (starting price)
            </li
        </ol>
        
        <br>

        <img src={{ listing.image_url }} height="325px"><br>

        {{ listing.description }}

        <br>
        <br>

        {% if comments %}
            <h3>Comments</h3>
            <ul>
                {% for comment in comments %}
                    <li>
                        <em>{{ comment.time }} | {{ comment.user }}:</em>
                            <p>{{ comment.comment }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No Comments</h3>
        {% endif %}
    
<!-- Option to leave a comment -->
    <form action="{% url 'comment' %}" method="post" class="form-control">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form }}
            <input type=hidden name="listing_id" value={{ listing.id }}>
            <input type="submit" value="Submit">
        </div>
    </form>
    
{% endblock %}