{% extends "auctions/layout.html" %}

{% block header-script %}

    {% if message %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                alert(`{{ message }}`);
            })
        </script>
    {% endif %} 

{% endblock %}


{% block body %}

<h2>{{ listing.title  }} {% if listing.category %} ({{ listing.category }}) {% endif %}</h2>
    <div>
        Current Bid: {{ listing.current_price }}
    </div>
    <div>
        {% if user.is_authenticated %}

            <!-- Option to watch/unwantch the item if user is signed in-->
            <form action="{% url 'watchlist-action' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value={{ listing.id }}>
                <input type="hidden" name="watchlist_action" value={{ watchlist_action }}>
                {% if watchlist_action %}
                    <input type="submit" value="Watch">
                {% else %}
                    <input type="submit" value="Unwatch">
                {% endif %}
            </form>

        {% endif %}        

        <!-- Option to place a bid -->
        <form action="{% url 'bid' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ bid_form }}
                <input type=hidden name="listing_id" value={{ listing.id }}>
                <input type="submit" value="Place Bid">
            </div>
        </form>

    </div>

    <div>
        Bid History:
        <ol reversed>
            {% for bid in bids %}
            <li>
                {{ bid.amount }} | {{ bid.time }} | {{ bid.user }}
            </li>
            {% endfor %}
            <li>
                {{ listing.starting_price }} (starting price)
            </li
        </ol>
    </div>
    <div>
        <img src={{ listing.image_url }} height="100px">
    </div>
    <div>
        {{ listing.description }}
    </div>
    
{% endblock %}